<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Factors</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>



<h1>Factor Number</h1>

<input type="text" value="1100102" id="input"/>
<button id="click">Click</button>
<div id="factors"></div>

<script src="js/jquery-3.1.0.js"></script>
<script src="js/dist/factor.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        console.log('here');


        $('#click').click(function(){
            var num = parseInt($('#input').val());
            var k = Module.ccall('factor', 'string', ['number'], [num]);
            $('#factors').text(num + ' Factors into ' + k);
            console.log(k);
            /*var start = parseInt($('#input').val());
            for(var i=start; i< start+500; i++) {
                console.log(i, Module.ccall('factor', 'string', ['number'], [i]));
            }*/
        });
    });
</script>
</body>
</html>